body {
  font-family: Arial;
  background: #f4f4f4;
  margin: 0;
}

.container {
  width: 60%;
  margin: auto;
  padding: 20px;
}

.box {
  background: white;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
}

.progress-container {
  width: 100%;
  background: #ddd;
  height: 25px;
  border-radius: 8px;
  margin-top: 10px;
  position: relative;
}

.progress {
  background: #4caf50;
  height: 100%;
  border-radius: 8px;
}

.download-btn {
  display: inline-block;
  padding: 12px 20px;
  background: royalblue;
  color: white;
  text-decoration: none;
  border-radius: 6px;
}
